<!------------------------- START OF MY CODE ------------------------->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Register</title>
  </head>
  <body class="font-mono">
    <!-- the link points to the Reader - Home Page -->
    <header class="relative">
      <h2>
        <a
          href="."
          class="absolute top-10 right-10 border border-green-700 bg-white text-green-700 rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-green-50 focus:outline-none focus:shadow-outline"
          >HOME</a
        >
      </h2>
    </header>

    <!-- the password form -->
    <main class="md:mx-40">
      <h1 class="pt-24 pb-2 text-3xl font-bold text-green-900">Register</h1>
      <p class="pb-8">It seems this is your first time here. Please set your password.</p>
      <form action="" method="post">
        <!-- password -->
        <input type="text" name="password" id="password" value="Password" />
        <!-- submit button -->
        <input
          type="submit"
          value="Set"
          class="border border-green-700 bg-green-700 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-green-800 focus:outline-none focus:shadow-outline"
        />
      </form>
    </main>
  </body>
</html>

<!------------------------- END OF MY CODE ------------------------->
